html{
    /* This image will be displayed fullscreen */
    background:url('bg.png') no-repeat center center;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;

    /* The Magic */
    background-size:cover;
}

body{
    /* Workaround for some mobile browsers */
    min-height:100%;
}

h1 {
    text-align: center;
}